@font-face {
  font-family: "Monserrat-Bold";
  src: url(../fonts/Monserrat-Bold.woff);
}

@font-face {
  font-family: "Monserrat-Regular";
  src: url(../fonts/Monserrat-Regular.woff);
}

@font-face {
  font-family: "Monserrat-Light";
  src: url(../fonts/Monserrat-Light.woff);
}

@font-face {
  font-family: "Monserrat-Thin";
  src: url(../fonts/Monserrat-Thin.woff);
}

@font-face {
  font-family: "TTCommons-Bold";
  src: url(../fonts/TTCommons-Bold.woff);
}

@font-face {
  font-family: "TTCommons-Regular";
  src: url(../fonts/TTCommons-Regular.woff);
}

@font-face {
  font-family: "TTCommons-Light";
  src: url(../fonts/TTCommons-Light.woff);
}

@font-face {
  font-family: "TTCommons-Thin";
  src: url(../fonts/TTCommons-Thin.woff);
}

@font-face {
  font-family: "HelveticaNeueCyr-Bold";
  src: url(../fonts/HelveticaNeueCyr-Bold.woff);
}

@font-face {
  font-family: "HelveticaNeueCyr-Medium";
  src: url(../fonts/HelveticaNeueCyr-Medium.woff);
}

@font-face {
  font-family: "HelveticaNeueCyr-Thin";
  src: url(../fonts/HelveticaNeueCyr-Thin.woff);
}
