.header-cont {
  width: 100%;
  height: 100vh;
  min-height: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-container {
  width: 750px;
  text-align: center;
}

.header-container span {
  width: 100%;
  height: 3px;
  display: block;
  background: #ffffff;
  -webkit-animation: move_span_h1 2s;
          animation: move_span_h1 2s;
}

.header-container h1 {
  font-family: HelveticaNeueCyr-Thin;
  font-size: 134px;
  letter-spacing: 19px;
  color: #ffffff;
  text-shadow: 1px 1px #4d0e49, 1px -1px #4d0e49, -1px 1px #4d0e49, -1px -1px #4d0e49, 3px 3px 8px #000000;
  padding-top: 12px;
  padding-right: 20px;
  padding-bottom: 12px;
  padding-left: 30px;
  -webkit-animation: move_h1 2s;
          animation: move_h1 2s;
}

.header-cont-h5 {
  margin-top: 8px;
  overflow: hidden;
  background: #ffffff;
  -webkit-animation: move_h5 2s;
          animation: move_h5 2s;
}

.header-container h5 {
  font-family: TTCommons-Thin;
  font-size: 24px;
  letter-spacing: 19px;
  text-transform: uppercase;
  padding-top: 14px;
  padding-right: 30px;
  padding-bottom: 8px;
  padding-left: 30px;
}

.header-container a {
  display: inline-block;
  font-family: HelveticaNeueCyr-Thin;
  font-size: 12px;
  padding: 6px 1px 6px 1px;
  line-height: 1;
  letter-spacing: 2px;
  background: #fde231;
  margin-top: 28px;
  opacity: 0.9;
  -webkit-animation: move_in_down 1s;
          animation: move_in_down 1s;
}

.header-container a:hover {
  background: #fd7c33;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  opacity: 1;
}

.header-img {
  position: absolute;
  margin-top: 30px;
  margin-left: 250px;
  width: 180px;
}

@media (max-width: 900px) {
  .header-container h1 {
    font-size: 94px;
  }
  .header-container h5 {
    font-size: 20px;
  }
  .header-img {
    margin-left: 60px;
    width: 140px;
  }
  .header-container {
    width: 650px;
  }
}

@media (max-width: 700px) {
  .header-container h1 {
    font-size: 66px;
  }
  .header-container h5 {
    font-size: 16px;
    letter-spacing: 9px;
  }
  .header-img {
    margin-left: 60px;
    width: 140px;
  }
  .header-container {
    width: 550px;
  }
}

@media (max-width: 600px) {
  .header-container h5 {
    letter-spacing: 6px;
  }
}
