.section-3 {
  background: #ffffff;
  text-align: center;
  overflow: hidden;
}

.section-3-container-1 {
  width: 80%;
  margin-left: 11%;
  margin-right: 9%;
  margin-bottom: 30px;
}

.section-3-container-2 {
  display: inline-block;
  width: 1200px;
  margin-bottom: 200px;
}

.section-3-container-2 img {
  width: 370px;
  height: 260px;
}

.section-3-flex {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-3-img-filter {
  position: relative;
  text-align: center;
  width: 370px;
  height: 260px;
  margin: 12px;
  overflow: hidden;
  outline: 2px solid #9c9a91;
}

.section-3-img-filter p {
  width: 100%;
  position: absolute;
  font-family: TTCommons-Regular;
  font-size: 20px;
  line-height: 1.6;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 40%;
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

.img-filter {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fde231;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.img-filter-hover {
  opacity: 0.9;
  -webkit-animation: zoomUp 0.6s;
          animation: zoomUp 0.6s;
}

.section-3 h5 {
  font-family: TTCommons-Regular;
  font-size: 30px;
  line-height: 1.6;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 30%;
}

.section-3 h4 {
  font-family: TTCommons-Regular;
  font-size: 40px;
  line-height: 1.6;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-top: 30px;
  padding-right: 8px;
  padding-bottom: 25px;
  padding-left: 8px;
}

.section-3 h6 {
  font-family: TTCommons-Regular;
  font-size: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-top: 85px;
  padding-right: 8px;
  padding-left: 8px;
}

.section-3-hidden {
  visibility: hidden;
}

@media (max-width: 1460px) {
  .section-3-container-2 {
    width: 80%;
  }
  .section-3-container-2 img {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 1060px) {
  .section-3-container-1 {
    text-align: right;
  }
}

@media (max-width: 600px) {
  .section-3-container-2 {
    margin-left: 20px;
  }
}

@media (max-width: 515px) {
  .section-3-img-filter1,
  .section-3-img-filter2,
  .section-3-img-filter3,
  .section-3-img-filter4,
  .section-3-img-filter5,
  .section-3-img-filter6 {
    width: auto;
    height: auto;
  }
  .section-3-container-2 img {
    margin-bottom: -3px;
  }
}
